<configuration>
    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>
    <root level="OFF">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="org.beryx.textio" level="trace" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
<!--
    <logger name="ratpack" level="trace" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
-->
    <logger name="org.beryx.textio.web.RatpackDataServer" level="info" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
</configuration>
